*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%; // 10px/16px = 62.5 %  ==> 1rem == 10px
  // margin: 0 auto;

  // @include respond(phone) {
  //   // width < 600?
  //   font-size: 37.5%; // 1rem = 6px , 6/16=37.5%
  // }
  // @include respond(tab-port) {
  //   // width < 900?
  //   font-size: 50%; // 1rem = 8px , 8/16=50%
  // }
  // @include respond(tab-land) {
  //   // width < 1200?
  //   font-size: 62.5%; // 1rem = 10px , 10/16=62.5%
  // }
  // @include respond(desktop) {
  //   // width < 900?
  //   font-size: 75%; // 1rem = 12px , 12/16=75%
  // }
}
body {
  // BEM => B__E--M

  // display stuff
  // positioning stuff
  // box-model stuff
  // typography stuff
  // manuplation stuff
  // mislenous stuff

  box-sizing: border-box;
  font-size: 1.4rem;

}

.container {
  // background-color: $white;

  display: grid;

  grid-template-rows: 75vh repeat(11, min-content);
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr) [full-end];

  & > * {
    // color: $white;
    font-size: 1.6rem;
    padding: 4rem;
  }
}
