.box1 {
  background-color: red;
  grid-column: full-start / full-end;
}
.box2 {
  background-color: #4b0e0e;

  grid-column: col-start 1 / col-end 8;
}
.box3 {
  background-color: #747070;
  grid-column: center-start / center-end;
}
.box4 {
  background-color: #43b800;
  grid-column: center-start / center-end;
}
.box5 {
  background-color: #e0e0e0;
  grid-column: full-start / full-end;
}
.box6 {
  background-color: #000000;
  grid-column: center-start / center-end;
}
.box7 {
  background-color: #830d0d;
  grid-column: full-start / full-end;
}
.box8 {
  background-color: #2b018b;
  grid-column: full-start / full-end;
}
.box9 {
  background-color: #ad003a;
  grid-column: center-start / center-end;
}
.box10 {
  background-color: #076e9e;
  grid-column: center-start / center-end;
}
.box11 {
  background-color: #02141d;
  grid-column: full-start / full-end;
}
.box12 {
  background-color: #f3f3f3;
  grid-column: full-start / full-end;
}
