.header {
  // display stuff

  // positioning stuff

  width: 100%;
  height: fit-content;

  // box-model stuff
  padding: 0.1rem;
  // typography stuff
  list-style: none;

  // manuplation stuff
  // background: orangered;
  // mislenous stuff
}

.headerOne {
  //
  display: flex;
  justify-content: space-evenly;

  &__welcome {
    //
  }
  &__links {
    //
    display: flex;
    .link {
      //
      a {
        //
        text-decoration: none;
      }
    }
  }
  &__dropdown {
    display: flex;
    //
    .currency {
      //
    }
    .language {
      //
    }
  }
  &__social {
    //
    display: flex;
    li {
      //
      list-style-type: none;
      margin: 0.2rem;
      a {
        text-decoration: none;
        //
        img {
          color: white;
          width: 2rem;
        }
      }
    }
  }
}
