.header {
  // display stuff
  display: grid;
  grid-template-columns: 2rm 1fr 2rm;
  align-content: center;

  // positioning stuff

  width: 100%;
  height: 25%;

  // box-model stuff
  padding: 2rem;
  // typography stuff

  // manuplation stuff
  background: orangered;
  // mislenous stuff

  &__logo {
    img {
      max-width: 4rem;
    }
  }
  &__links {
    display: flex;
    li {
      list-style: none;
      padding: 0.5rem;
      a {
        color: $dark;
        text-decoration: none;
      }
    }
  }
}
